.navbar {
  width: 100%;
  min-width: 100%;
  border-bottom: 0.1px solid #ccc;
  padding: 10px; 
  background-color: var(--background-color); 
  top: 0; 
  left: 0; 
  z-index: 10; 
}

.navItems {
width: 95%; 
}

.nav-separator {
  width: 100%;

}
